@()(implicit request: RequestHeader, flash: Flash)

@main("Login") {
    <div class="container">
        <section id="content">
            <form method="post" action="@routes.TaskList1.validateLoginPost()">
                @helper.CSRF.formField
                <h1>Login Form</h1>
                <div>
                    <input type="text" placeholder="Username" required="" id="username" name="username"/>
                </div>
                <div>
                    <input type="password" placeholder="Password" required="" id="password" name="password"/>
                </div>
                <div>
                    <input type="submit" value="Log in" />
                    <a href="@routes.TaskList1.register">Register</a>
                </div>
            </form><!-- form -->

        </section><!-- content -->
    </div><!-- container -->
}