@()(implicit request: RequestHeader, flash: Flash)

@main("Register") {
    <div class="container">
        <section id="content">
            <form method="post" action="@routes.TaskList1.createUser()">
                @helper.CSRF.formField
                <h1>Register</h1>
                <div>
                    <input type="text" placeholder="Username" required="" id="username" name="username"/>
                </div>
                <div>
                    <input type="password" placeholder="Password" required="" id="password" name="password"/>
                </div>
                <div>
                    <input type="submit" value="Log in" />
                </div>
            </form><!-- form -->

        </section><!-- content -->
    </div><!-- container -->
}